<!DOCTYPE html>
<html ng-app="appDermato">
    <head>
        <title>testando</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/webcam/app/scripts/webcam.js"></script>
    </head>
    <body ng-controller="indexController">
		
		{{ usuario.nome }}
		
		<div ng-repeat="usuario in usuarios">
			{{ usuario.id + ' ' +  usuario.nome }}
		</div>
		
		<div>
		<input type="text" ng-model="usuario.nome" />
		<input type="button" ng-click="salvarUsuario()" value="salvar"/>
		</div>

    </body>
</html>


